/* line 1, ../../resources/sass/_main.scss */
* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Palette de couleurs */
/* line 1, ../../resources/sass/_header.scss */
header {
  height: 100px;
  background-color: #2C363F;
}
/* line 4, ../../resources/sass/_header.scss */
header h1 {
  text-align: center;
  color: #F2E7AC;
}

/* line 2, ../../resources/sass/_map.scss */
.maps .maps-cmp {
  min-height: 500px;
}
/* line 6, ../../resources/sass/_map.scss */
.maps .progress-cmp {
  display: block;
  width: 100%;
  max-width: 400px;
  margin: 20px 0;
}
/* line 13, ../../resources/sass/_map.scss */
.maps .hidden {
  opacity: 0;
  -webkit-transition: 200ms ease-in-out;
          transition: 200ms ease-in-out;
}
