@import url("https://fonts.googleapis.com/css?family=Oswald");
/* Palette de couleurs */
/* line 9, ../../resources/sass/_main.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 14, ../../resources/sass/_main.scss */
body,
html {
  font-family: 'Oswald', sans-serif;
  background-color: #F2E7AC;
  color: #2C363F;
}

/* line 1, ../../resources/sass/_header.scss */
header {
  padding: 20px;
  background-color: #2C363F;
  box-shadow: 0 0 20px #2C363F;
}
/* line 6, ../../resources/sass/_header.scss */
header h1 {
  font-size: 2rem;
  text-align: center;
  color: #F2E7AC;
}

/* line 1, ../../resources/sass/_body.scss */
body {
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
/* line 7, ../../resources/sass/_body.scss */
body main {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

/* line 1, ../../resources/sass/_map.scss */
.need-choice {
  background: #F29F05;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* line 10, ../../resources/sass/_map.scss */
.need-choice .title h2 {
  background-color: rgba(242, 68, 5, 0.5);
  padding: 10px;
  text-align: center;
}
/* line 18, ../../resources/sass/_map.scss */
.need-choice .selection paper-listbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  max-width: 600px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: inherit;
}
/* line 27, ../../resources/sass/_map.scss */
.need-choice .selection paper-listbox paper-item iron-image {
  height: 150px;
  width: 150px;
}

/* line 36, ../../resources/sass/_map.scss */
.maps {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* line 43, ../../resources/sass/_map.scss */
.maps .maps-cmp {
  min-height: 500px;
}
/* line 47, ../../resources/sass/_map.scss */
.maps .progress-cmp {
  display: block;
  width: 100%;
  max-width: 400px;
  margin: 20px 0;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}
/* line 59, ../../resources/sass/_map.scss */
.maps .hidden {
  opacity: 0;
  -webkit-transition: 200ms ease-in-out;
          transition: 200ms ease-in-out;
}

/* line 1, ../../resources/sass/_footer.scss */
footer {
  background-color: #2C363F;
}
